html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.swiper-container {
  width: 100%;
  height: 100%;
  padding-bottom: 20px;
}
.Blog.swiper-container {
  position: static !important;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.Blog .swiper-slide::after {
  content: "";
  position: absolute;
  background: linear-gradient(
    180deg,
    rgba(20, 19, 20, 0) 0%,
    rgba(20, 19, 20, 0.8) 76.04%,
    #1c1c1c 100%
  );
  width: 100%;
  height: 100%;
}
.swiper-button-prev,
.swiper-button-next {
  top: 150px;
  right: 15px;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  content: "";
  position: absolute;
  width: 52px;
  height: 52px;
}
.swiper-button-next::after {
  background: url("/arrow-right.svg");
}
.swiper-button-prev::after {
  background: url("/arrow-right.svg");
  transform: rotate(180deg);
}

.swiper-button-prev {
  right: 80px;
  left: inherit;
}

input,
textarea {
  border-radius: 0 !important;
}
textarea {
  border: 1px solid white !important;
}
textarea::placeholder,
input::placeholder {
  color: white;
}

.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 0 !important;
}

.Testimonials .swiper-pagination-bullet {
  opacity: 0.5;
  margin: 0 2.5px !important;
  width: 10px;
  height: 10px;
  transition: all 300ms ease;
}
.Testimonials .swiper-pagination-bullet-active {
  opacity: 1;
  width: 20px;
  background-color: #000;
  border-radius: 10px;
}

@media (max-width: 640px) {
  .swiper-button-prev,
  .swiper-button-next {
    bottom: 0px;
    top: inherit;
  }

  .Blog .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .Blog .swiper-slide {
    width: 80%;
  }
}

#circulo {
  animation: rotate 15s infinite alternate ease-in-out;
  transform-origin: center center;
}
#blur {
  animation: hues 2500ms infinite alternate;
}
#copyright:hover #coracao {
  animation: coracao 1s infinite linear;
}
@keyframes rotate {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(180deg);
  }
}
@keyframes hues {
  from {
    filter: hue-rotate(-45deg) saturate(1);
  }
  to {
    filter: hue-rotate(45deg) saturate(2);
  }
}
@keyframes coracao {
  0%,
  35%,
  50%,
  75%,
  100% {
    transform: scale(1);
  }
  40%,60% {
    transform: scale(1.2);
  }
}
